<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cert data Search</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
</head>

<body>
    <div class="container-fluid">
        <h3>certs of model "{{ model_name }}"</h3>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>bug ID</th>
                    <th>Portal ID</th>
                    <th>case number</th>
                    <th>vendor</th>
                    <th>make</th>
                    <th>model</th>
                    <th>product</th>
                    <th>version</th>
                    <th>platform</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {% for each in result_list %}
                    <tr>
                        {% for each_item in each %}
                            <td>{{ each_item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5>Number in total is {{ number_intotal }}</h5>
        <hr>
        <div style="margin: 5px 0" class="clearfix">
            <a href="/search/" class="btn btn-success">Return</a>
        </div>
    </div>
</body>
</html>